body {
    background: purple;
}

input{
    margin-top: 400px;
    padding: 20px 20px;
    border-radius: 15px;
    border: 1px solid;
    background: none;
    color: wheat;
}

.btn {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  border-radius: 15px;
  border: 1px solid white;
  color: white;
  background-color: black; /* ← добавь фон! */
  cursor: pointer;
}

.test{
    margin-top: -600px;
    display: flex;
    max-width: 250px;
    background: white;
    padding: 50px 200px;
    color: black;
    border-radius: 15px;
}

.signup-form{
    display: flex;
    justify-content: center;
    align-items: center;
}